/* ---- CSS reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 147%;
  }
  
  p {
    margin: 0;
  }
  
  
  
  /* ---- layout ---- */
  
  html, body {
    height: 100%;
  }
  
  .container {
    margin: 0 20px;
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 728px;  /* Resizes the container to 728px for large screens */
      margin: 0 auto;
      border: 2px red;
    }
  }
  
  
  /* ---- components ---- */
  
  .game {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .game header {
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  .game .lives {
    flex: 1;
  }
  
  .game .score {
    flex: 1;
  }
  
  .game .label {
    font-weight: bold;
  }
  
  .game .value {
    font-style: italic;
  }
  
  .game .canvas-container {
    flex: 1;
  }
  
  #start-button {
    background-color:#8B4513; /* CAN I USE A COFFEE CUP PICTURE SOMEHOW?? */
    border: 2px solid black;
    border-radius: 50%;
    color: white;
    display: flex;
    font-size: 20px;
    justify-content: left;
    margin-left: 40px;
    padding: 32px 16px;
    text-decoration: none;    
  }

  #start-button:hover {
    background-color: #D2691E;
    color: white;
  }

  .time {
    background-color:#8B4513;
    color: white;
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
    width: 150px;
  }

  .score {
    background-color:#8B4513;
    color: white;
    display: flex;
    justify-content: space-around;
    width: 150px;
  }