/* ---- CSS reset ---- */

html {
  box-sizing: border-box;
  overflow: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 120%;
  font-size: 20px;
  font-weight: bold;
}

.game-over-container p {
  margin: 0;
  font-size: 50px;
  font-weight: bolder;
}

main h1 {
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  font-size: 70px;
}

h2 {
  margin-top: 70px;
  font-size: 40px;
}

main #first {
  background-color: white;
  max-height: 60px;
  max-width: 955px;
}

main #one {
  padding: 20px;
}

#second {
  max-height: 250px;
  max-width: 710px;
  background-color: white;
  line-height: 110%;
  margin-top: 20px;
  border: 2px solid black;
  text-align: center;
}

#game-over {
  width: 100%;
}

main #three {
  background-color: white;
  height: 150px;
  width: 850px;
  margin-top: 40px;
  line-height: 300%;
}

/* ---- layout ---- */

html, body {
  height: 100%;
}

.container {
  background-color: tan;
  border: 2px red;
  margin: 0 20px;
}

body .splash-screen-container {
  background-image: url('../images/border-4515401_1280.png');
  background-size: contain;
  background-size: cover;
  min-height: 1000px;
  max-width: auto;
  text-align: center;
}

body .game-over-container {
  background-image: url('../images/border-4515401_1280.png');
  background-size: contain;
  background-size: cover;
  min-height: 1000px;
  max-width: auto;
  text-align: center;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;  /* Resizes the container to 728px for large screens */
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  #second {
    padding-bottom: 20px;
    font-size: 20px;
  }
  p #three {
    font-size: 40px;
    display: flex;
    justify-content: center;
  }
}

header {
  background-color:#8B4513;
  color: white;
  padding: 10px;
  height: 40px;
  display: flex;
  justify-content: center;

}

.time, .score {
  font-size: 32px;
  margin-right: 100px;

}

#start-button {
  background-color:#8B4513;
  border: 2px solid black;
  border-radius: 50%;
  color: white;
  font-size: 50px;
  padding: 40px 18px;
  text-decoration: none;
  transition-duration: 0.1s;
  margin: 70px 0; 
}

#start-button:hover {
  background-color: #D2691E;
  color: white;
}


#restart-button {
  background-color:#8B4513;
  border: 2px solid black;
  border-radius: 50%;
  color: white;
  margin-top: 90px;
  font-size: 50px;
  padding: 40px 18px;
  text-decoration: none;
  transition-duration: 0.1s;   
}

#restart-button:hover {
  background-color: #D2691E;
  color: white;
}
